# PostgreSQL database configuration
POSTGRES_URL="postgresql://meetandmove:meet&move@localhost:5432/meetandmove"

# Redis configuration
REDIS_URL="redis://localhost:6379"

# Better Auth configuration
BETTER_AUTH_SECRET="owdURJP/onJcNT/OF8QUraBEruEAe8HkMLVtqbjmWig="
BETTER_AUTH_URL="http://localhost:8787"